
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom theme variables */
:root, [data-theme="light"] {
  --ig-black: #000;
  --ig-white: #fff;
  --ig-text-bold: #1d2830;
  --ig-text-bold-hover: #303c45;
  --ig-text-bold-hover-emphasized: #c42600;
  --ig-text-bold-selected: #0e171e;
  --ig-text-bold-pressed: #0e171e;
  --ig-text-bold-selected-emphasized: #c42600;
  --ig-text-bold-inverse: #fff;
  --ig-text-subtle: #54636d;
  --ig-text-subtle-hover: #606e78;
  --ig-text-subtle-hover-emphasized: #da3300;
  --ig-text-subtle-selected: #424f59;
  --ig-text-subtle-pressed: #424f59;
  --ig-text-subtle-selected-emphasized: #c42600;
  --ig-text-subtle-inverse: #f6f9fb;
  --ig-text-subtler: #6f7c86;
  --ig-text-subtler-hover: #b7c3cc;
  --ig-text-subtler-hover-emphasized: #ff9b7d;
  --ig-text-subtler-selected: #54636d;
  --ig-text-subtler-pressed: #54636d;
  --ig-text-subtler-selected-emphasized: #c42600;
  --ig-text-subtler-inverse: #b7c3cc;
  --ig-text-primary: #c42600;
  --ig-text-primary-hover: #da3300;
  --ig-text-primary-pressed: #c42600;
  --ig-text-secondary-bold: #042941;
  --ig-text-secondary-bold-hover: #01527e;
  --ig-text-secondary-bold-pressed: #011828;
  --ig-text-secondary-subtle: #1272ab;
  --ig-text-secondary-subtle-hover: #1882c0;
  --ig-text-secondary-subtle-pressed: #01527e;
  --ig-text-secondary-subtlest: #bbdcf6;
  --ig-text-secondary-subtlest-hover: #e1f1fe;
  --ig-text-secondary-subtlest-pressed: #1882c0;
  --ig-text-tertiary: #880a5d;
  --ig-text-tertiary-hover: #b72280;
  --ig-text-tertiary-pressed: #4b0030;
  --ig-text-info: #1463dc;
  --ig-text-info-hover: #2071f3;
  --ig-text-info-pressed: #0145a7;
  --ig-text-warning: #926100;
  --ig-text-warning-hover: #a56e00;
  --ig-text-warning-pressed: #6b4400;
  --ig-text-error: #c51a38;
  --ig-text-error-hover: #db2943;
  --ig-text-error-pressed: #940022;
  --ig-text-success: #008400;
  --ig-text-success-hover: #0f9500;
  --ig-text-success-pressed: #006000;
  --ig-text-accent-1: #7a3800;
  --ig-text-accent-1-hover: #a65200;
  --ig-text-accent-1-pressed: #431900;
  --ig-text-accent-2: #5b4d00;
  --ig-text-accent-2-hover: #7e6c00;
  --ig-text-accent-2-pressed: #2f2600;
  --ig-text-accent-3: #455500;
  --ig-text-accent-3-hover: #627700;
  --ig-text-accent-3-pressed: #222b00;
  --ig-text-accent-4: #006035;
  --ig-text-accent-4-hover: #00844d;
  --ig-text-accent-4-pressed: #003217;
  --ig-text-accent-5: #005d4f;
  --ig-text-accent-5-hover: #00816e;
  --ig-text-accent-5-pressed: #003128;
  --ig-text-accent-6: #005b60;
  --ig-text-accent-6-hover: #007e85;
  --ig-text-accent-6-pressed: #002f33;
  --ig-text-accent-7: #005871;
  --ig-text-accent-7-hover: #007a9a;
  --ig-text-accent-7-pressed: #002d3e;
  --ig-text-accent-8: #005389;
  --ig-text-accent-8-hover: #0073b8;
  --ig-text-accent-8-pressed: #00294d;
  --ig-text-accent-9: #4137a6;
  --ig-text-accent-9-hover: #5c53da;
  --ig-text-accent-9-pressed: #1f175e;
  --ig-text-accent-10: #5e2b9a;
  --ig-text-accent-10-hover: #8044cb;
  --ig-text-accent-10-pressed: #310e57;
  --ig-text-accent-11: #731f85;
  --ig-text-accent-11-hover: #9c36b1;
  --ig-text-accent-11-pressed: #3e0649;
  --ig-text-accent-12: #8e0049;
  --ig-text-accent-12-hover: #be1b67;
  --ig-text-accent-12-pressed: #4f0024;
  --ig-text-on-color: #fff;
  --ig-text-on-color-hover: #fff;
  --ig-text-on-color-pressed: #e9f0f5;
  --ig-text-on-color-disabled: #fff;
  --ig-text-on-warning: #6b4400;
  --ig-text-on-warning-hover: #926100;
  --ig-text-on-warning-pressed: #392100;
  --ig-background-neutral: #fff;
  --ig-background-neutral-hover: #f6f9fb;
  --ig-background-neutral-pressed: #b7c3cc;
  --ig-background-neutral-selected: #e9f0f5;
  --ig-background-neutral-selected-emphasized: #ffe4d9;
  --ig-background-neutral-subtlest: #f6f9fb;
  --ig-background-neutral-subtlest-hover: #fff;
  --ig-background-neutral-subtlest-pressed: #6f7c86;
  --ig-background-neutral-subtlest-selected: #b7c3cc;
  --ig-background-neutral-subtlest-selected-emphasized: #ffe4d9;
  --ig-background-neutral-subtler: #e9f0f5;
  --ig-background-neutral-subtler-hover: #b7c3cc;
  --ig-background-neutral-subtler-pressed: #606e78;
  --ig-background-neutral-subtler-selected: #6f7c86;
  --ig-background-neutral-subtler-selected-emphasized: #ffe4d9;
  --ig-background-neutral-subtle: #b7c3cc;
  --ig-background-neutral-subtle-hover: #6f7c86;
  --ig-background-neutral-subtle-pressed: #54636d;
  --ig-background-neutral-subtle-selected: #606e78;
  --ig-background-neutral-subtle-selected-emphasized: #ffe4d9;
  --ig-background-neutral-bold: #606e78;
  --ig-background-neutral-bold-hover: #6f7c86;
  --ig-background-neutral-bold-pressed: #54636d;
  --ig-background-neutral-bolder: #1d2830;
  --ig-background-neutral-bolder-hover: #303c45;
  --ig-background-neutral-bolder-pressed: #0e171e;
  --ig-background-transparent: lch(78.1% 6.7 244 / 0);
  --ig-background-transparent-hover: lch(78.1% 6.7 244 / .13);
  --ig-background-transparent-pressed: lch(78.1% 6.7 244 / .18);
  --ig-background-transparent-selected: lch(78.1% 6.7 244 / .08);
  --ig-background-transparent-selected-emphasized: lch(49.5% 89.2 44.7 / .1);
  --ig-background-transparent-subtlest: lch(78.1% 6.7 244 / .25);
  --ig-background-transparent-subtlest-hover: lch(78.1% 6.7 244 / .3);
  --ig-background-transparent-subtlest-pressed: lch(78.1% 6.7 244 / .35);
  --ig-background-transparent-subtlest-selected: lch(78.1% 6.7 244 / .15);
  --ig-background-transparent-subtlest-selected-emphasized: lch(49.5% 89.2 44.7 / .15);
  --ig-background-transparent-success: lch(78.5% 51.5 135 / .2);
  --ig-background-transparent-success-hover: lch(78.5% 51.5 135 / .25);
  --ig-background-transparent-success-pressed: lch(78.5% 51.5 135 / .3);
  --ig-background-transparent-error: lch(73.8% 43.6 23.3 / .2);
  --ig-background-transparent-error-hover: lch(73.8% 43.6 23.3 / .25);
  --ig-background-transparent-error-pressed: lch(73.8% 43.6 23.3 / .3);
  --ig-background-alpha-dark-0: lch(15.3% 7.55 246 / 0);
  --ig-background-alpha-dark-10: lch(15.3% 7.55 246 / .1);
  --ig-background-alpha-dark-20: lch(15.3% 7.55 246 / .2);
  --ig-background-alpha-dark-30: lch(15.3% 7.55 246 / .3);
  --ig-background-alpha-dark-40: lch(15.3% 7.55 246 / .4);
  --ig-background-alpha-dark-50: lch(15.3% 7.55 246 / .5);
  --ig-background-alpha-dark-60: lch(15.3% 7.55 246 / .6);
  --ig-background-alpha-dark-70: lch(15.3% 7.55 246 / .7);
  --ig-background-alpha-dark-80: lch(15.3% 7.55 246 / .8);
  --ig-background-alpha-dark-90: lch(15.3% 7.55 246 / .9);
  --ig-background-alpha-light-0: lch(97.7% 1.53 240 / 0);
  --ig-background-alpha-light-10: lch(97.7% 1.53 240 / .1);
  --ig-background-alpha-light-20: lch(97.7% 1.53 240 / .2);
  --ig-background-alpha-light-30: lch(97.7% 1.53 240 / .3);
  --ig-background-alpha-light-40: lch(97.7% 1.53 240 / .4);
  --ig-background-alpha-light-50: lch(97.7% 1.53 240 / .5);
  --ig-background-alpha-light-60: lch(97.7% 1.53 240 / .6);
  --ig-background-alpha-light-70: lch(97.7% 1.53 240 / .7);
  --ig-background-alpha-light-80: lch(97.7% 1.53 240 / .8);
  --ig-background-alpha-light-90: lch(97.7% 1.53 240 / .9);
  --ig-background-primary-bold: #da3300;
  --ig-background-primary-bold-hover: #e84c1d;
  --ig-background-primary-bold-pressed: #c42600;
  --ig-background-primary-subtle: #ffe4d9;
  --ig-background-primary-subtler: #fff4ef;
  --ig-background-primary-subtler-hover: #ffe4d9;
  --ig-background-primary-subtler-pressed: #ff9b7d;
  --ig-background-secondary-bolder: #042941;
  --ig-background-secondary-bolder-hover: #01527e;
  --ig-background-secondary-bolder-pressed: #011828;
  --ig-background-secondary-bold: #1882c0;
  --ig-background-secondary-bold-hover: lch(53.6% 40.6 254);
  --ig-background-secondary-bold-pressed: #1272ab;
  --ig-background-secondary-subtle: #e1f1fe;
  --ig-background-secondary-subtle-hover: #bbdcf6;
  --ig-background-secondary-subtle-pressed: #f3f9ff;
  --ig-background-secondary-subtler: #f3f9ff;
  --ig-background-secondary-subtler-hover: #e1f1fe;
  --ig-background-secondary-subtler-pressed: #bbdcf6;
  --ig-background-tertiary-bold: #b72280;
  --ig-background-tertiary-bold-hover: #cb2f90;
  --ig-background-tertiary-bold-pressed: #880a5d;
  --ig-background-tertiary-subtle: #ffe0f5;
  --ig-background-tertiary-subtler: #fff3fb;
  --ig-background-tertiary-subtler-hover: #ffe0f5;
  --ig-background-tertiary-subtler-pressed: #ff97ce;
  --ig-background-info-bold: #1463dc;
  --ig-background-info-bold-hover: #2071f3;
  --ig-background-info-bold-pressed: #0145a7;
  --ig-background-info-subtle: #ddf0ff;
  --ig-background-info-subtler: #f1f9ff;
  --ig-background-info-subtler-hover: #ddf0ff;
  --ig-background-info-subtler-pressed: #8fbeff;
  --ig-background-warning-bold: #f6af00;
  --ig-background-warning-bold-hover: #ffebc2;
  --ig-background-warning-bold-pressed: #a56e00;
  --ig-background-warning-subtle: #ffebc2;
  --ig-background-warning-subtler: #fff7ea;
  --ig-background-warning-subtler-hover: #ffebc2;
  --ig-background-warning-subtler-pressed: #f6af00;
  --ig-background-error-bold: #c51a38;
  --ig-background-error-bold-hover: #db2943;
  --ig-background-error-bold-pressed: #940022;
  --ig-background-error-subtle: #ffe3e1;
  --ig-background-error-subtler: #fff3f3;
  --ig-background-error-subtler-hover: #ffe3e1;
  --ig-background-error-subtler-pressed: #ff9798;
  --ig-background-success-bold: #008400;
  --ig-background-success-bold-hover: #0f9500;
  --ig-background-success-bold-pressed: #006000;
  --ig-background-success-subtle: #daf9d3;
  --ig-background-success-subtler: #f2fcef;
  --ig-background-success-subtler-hover: #daf9d3;
  --ig-background-success-subtler-pressed: #8bd47b;
  --ig-background-accent-1-bold: #a65200;
  --ig-background-accent-1-bold-hover: #bb5e00;
  --ig-background-accent-1-bold-pressed: #7a3800;
  --ig-background-accent-1-subtle: #fff6eb;
  --ig-background-accent-1-subtle-hover: #ffe6c8;
  --ig-background-accent-1-subtle-pressed: #ffa659;
  --ig-background-accent-2-bold: #7e6c00;
  --ig-background-accent-2-bold-hover: #8e7a00;
  --ig-background-accent-2-bold-pressed: #5b4d00;
  --ig-background-accent-2-subtle: #fbf9ea;
  --ig-background-accent-2-subtle-hover: #f7f0c2;
  --ig-background-accent-2-subtle-pressed: #d3bf46;
  --ig-background-accent-3-bold: #627700;
  --ig-background-accent-3-bold-hover: #6f8600;
  --ig-background-accent-3-bold-pressed: #455500;
  --ig-background-accent-3-subtle: #f6fbec;
  --ig-background-accent-3-subtle-hover: #e9f5c8;
  --ig-background-accent-3-subtle-pressed: #b2cb5c;
  --ig-background-accent-4-bold: #00844d;
  --ig-background-accent-4-bold-hover: #009559;
  --ig-background-accent-4-bold-pressed: #006035;
  --ig-background-accent-4-subtle: #eefdf4;
  --ig-background-accent-4-subtle-hover: #cdfce1;
  --ig-background-accent-4-subtle-pressed: #5ed99e;
  --ig-background-accent-5-bold: #00816e;
  --ig-background-accent-5-bold-hover: #00927d;
  --ig-background-accent-5-bold-pressed: #005d4f;
  --ig-background-accent-5-subtle: #ebfdf9;
  --ig-background-accent-5-subtle-hover: #c3fcf0;
  --ig-background-accent-5-subtle-pressed: #23dbc1;
  --ig-background-accent-6-bold: #007e85;
  --ig-background-accent-6-bold-hover: #008e96;
  --ig-background-accent-6-bold-pressed: #005b60;
  --ig-background-accent-6-subtle: #eafdfe;
  --ig-background-accent-6-subtle-hover: #c0fbfe;
  --ig-background-accent-6-subtle-pressed: #00d8e1;
  --ig-background-accent-7-bold: #007a9a;
  --ig-background-accent-7-bold-hover: #008aae;
  --ig-background-accent-7-bold-pressed: #005871;
  --ig-background-accent-7-subtle: #ebfcff;
  --ig-background-accent-7-subtle-hover: #c2f9ff;
  --ig-background-accent-7-subtle-pressed: #25d2fc;
  --ig-background-accent-8-bold: #0073b8;
  --ig-background-accent-8-bold-hover: #0083ce;
  --ig-background-accent-8-bold-pressed: #005389;
  --ig-background-accent-8-subtle: #edfbff;
  --ig-background-accent-8-subtle-hover: #d1f4ff;
  --ig-background-accent-8-subtle-pressed: #5fc9ff;
  --ig-background-accent-9-bold: #5c53da;
  --ig-background-accent-9-bold-hover: #6861f1;
  --ig-background-accent-9-bold-pressed: #4137a6;
  --ig-background-accent-9-subtle: #f5f7ff;
  --ig-background-accent-9-subtle-hover: #e8ecff;
  --ig-background-accent-9-subtle-pressed: #aeb4ff;
  --ig-background-accent-10-bold: #8044cb;
  --ig-background-accent-10-bold-hover: #9051e1;
  --ig-background-accent-10-bold-pressed: #5e2b9a;
  --ig-background-accent-10-subtle: #faf6ff;
  --ig-background-accent-10-subtle-hover: #f3e7ff;
  --ig-background-accent-10-subtle-pressed: #cca8ff;
  --ig-background-accent-11-bold: #9c36b1;
  --ig-background-accent-11-bold-hover: #ae42c5;
  --ig-background-accent-11-bold-pressed: #731f85;
  --ig-background-accent-11-subtle: #fff4ff;
  --ig-background-accent-11-subtle-hover: #ffe2ff;
  --ig-background-accent-11-subtle-pressed: #e59ff6;
  --ig-background-accent-12-bold: #be1b67;
  --ig-background-accent-12-bold-hover: #d42975;
  --ig-background-accent-12-bold-pressed: #8e0049;
  --ig-background-accent-12-subtle: #fff3f8;
  --ig-background-accent-12-subtle-hover: #ffe1ed;
  --ig-background-accent-12-subtle-pressed: #ff95ba;
  --ig-background-indicator: #da3300;
  --ig-background-indicator-hover: #e84c1d;
  --ig-border-white: #fff;
  --ig-border-subtle: #f6f9fb;
  --ig-border: #e9f0f5;
  --ig-border-bold: #b7c3cc;
  --ig-border-bolder: #606e78;
  --ig-border-transparent: transparent;
  --ig-border-focus: #520000;
  --ig-border-selected: #e84c1d;
  --ig-border-primary-bold: #da3300;
  --ig-border-primary-bold-hover: #ff9b7d;
  --ig-border-primary-bold-pressed: #c42600;
  --ig-border-primary-subtle: #ffe4d9;
  --ig-border-secondary-bold: #1882c0;
  --ig-border-secondary-bold-hover: #bbdcf6;
  --ig-border-secondary-bold-pressed: #01527e;
  --ig-border-secondary-subtle: #e1f1fe;
  --ig-border-info-bold: #1463dc;
  --ig-border-info-subtle: #8fbeff;
  --ig-border-warning-bold: #f6af00;
  --ig-border-warning-subtle: #f6af00;
  --ig-border-error-bold: #c51a38;
  --ig-border-error-subtle: #ff9798;
  --ig-border-success-bold: #008400;
  --ig-border-success-subtle: #8bd47b;
  --ig-border-accent-1-bold: #a65200;
  --ig-border-accent-1-subtle: #ffa659;
  --ig-border-accent-2-bold: #7e6c00;
  --ig-border-accent-2-subtle: #d3bf46;
  --ig-border-accent-3-bold: #627700;
  --ig-border-accent-3-subtle: #b2cb5c;
  --ig-border-accent-4-bold: #00844d;
  --ig-border-accent-4-subtle: #5ed99e;
  --ig-border-accent-5-bold: #00816e;
  --ig-border-accent-5-subtle: #23dbc1;
  --ig-border-accent-6-bold: #007e85;
  --ig-border-accent-6-subtle: #00d8e1;
  --ig-border-accent-7-bold: #007a9a;
  --ig-border-accent-7-subtle: #25d2fc;
  --ig-border-accent-8-bold: #0073b8;
  --ig-border-accent-8-subtle: #5fc9ff;
  --ig-border-accent-9-bold: #5c53da;
  --ig-border-accent-9-subtle: #aeb4ff;
  --ig-border-accent-10-bold: #8044cb;
  --ig-border-accent-10-subtle: #cca8ff;
  --ig-border-accent-11-bold: #9c36b1;
  --ig-border-accent-11-subtle: #e59ff6;
  --ig-border-accent-12-bold: #be1b67;
  --ig-border-accent-12-subtle: #ff95ba;
  --ig-icon-bold: #303c45;
  --ig-icon-subtle: #54636d;
  --ig-icon-close: #54636d;
  --ig-icon-secondary: #01527e;
  --ig-icon-primary: #c42600;
  --ig-icon-info: #1463dc;
  --ig-icon-warning: #f6af00;
  --ig-icon-on-warning: #6b4400;
  --ig-icon-error: #c51a38;
  --ig-icon-success: #008400;
  --ig-logo-text: #303642;
  --ig-logo-icon-item1: #438ab5;
  --ig-logo-icon-item2: #f1002f;
  --ig-logo-icon-item3: #ffbe00;
  --ig-logo-inverse-text: #fff;
  --ig-logo-inverse-icon-item1: #fff;
  --ig-logo-inverse-icon-item2: #fff;
  --ig-logo-inverse-icon-item3: #fff;
  --ig-opacity-disabled: .4;
  --ig-elevation-level-1: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  --ig-elevation-level-2: 0px 3px 3px -2px #0003, 0px 3px 4px 0px #00000024, 0px 1px 8px 0px #0000001f;
  --ig-elevation-level-3: 0px 3px 5px -1px #0003, 0px 6px 10px 0px #00000024, 0px 1px 8px 0px #0000001f;
  --ig-elevation-level-4: 0px 5px 5px -3px #0003, 0px 8px 10px 1px #00000024, 0px 3px 14px 2px #0000001f;
  --ig-gradients-brand-primary: linear-gradient(135deg, #ff9b7d 0%, #da3300 100%);
  --ig-gradients-brand-secondary: linear-gradient(135deg, #bbdcf6 0%, #1272ab 100%);
  --ig-gradients-brand-tertiary: linear-gradient(135deg, #ff97ce 0%, #b72280 100%);
  --ig-gradients-brand-neutral: linear-gradient(135deg, #b7c3cc 0%, #606e78 100%);
  --ig-gradients-functional-info: linear-gradient(135deg, #8fbeff 0%, #1463dc 100%);
  --ig-gradients-functional-success: linear-gradient(135deg, #8bd47b 0%, #008400 100%);
  --ig-gradients-functional-warning: linear-gradient(135deg, #ffebc2 0%, #f6af00 100%);
  --ig-gradients-functional-error: linear-gradient(135deg, #ff9798 0%, #c51a38 100%);
  --ig-border-radius-0: 0px;
  --ig-border-radius: 4px;
  --ig-border-radius-small: 2px;
  --ig-border-radius-large: 8px;
  --ig-border-radius-focus: 4px;
  --ig-border-radius-input: 4px;
  --ig-border-width: 1px;
  --ig-border-width-2x: 2px;
  --ig-border-width-indicator: 2rem;
  --ig-border-width-focus: 2px;
  --ig-border-width-input: 1px;
  --ig-font-size-html: 1rem;
  --ig-font-size-body-xsmall: .625rem;
  --ig-font-size-body-small: .75rem;
  --ig-font-size-body: .875rem;
  --ig-font-size-body-large: 1rem;
  --ig-font-size-heading-xxsmall: 1rem;
  --ig-font-size-heading-xsmall: 1.125rem;
  --ig-font-size-heading-small: 1.25rem;
  --ig-font-size-heading-medium: 1.5rem;
  --ig-font-size-heading-large: 1.75rem;
  --ig-font-size-heading-xlarge: 2rem;
  --ig-font-size-heading-xxlarge: 2.5rem;
  --ig-font-size-caption-xsmall: .5rem;
  --ig-font-size-caption-small: .625rem;
  --ig-font-size-caption: .75rem;
  --ig-font-size-caption-large: .875rem;
  --ig-font-family-body: Roboto;
  --ig-font-family-heading: Roboto;
  --ig-font-family-caption: Roboto;
  --ig-font-weight-regular: 400;
  --ig-font-weight-light: 300;
  --ig-font-weight-medium: 500;
  --ig-font-weight-bold: 700;
  --ig-line-height-body-xsmall: .75rem;
  --ig-line-height-body-small: 1rem;
  --ig-line-height-body: 1.25rem;
  --ig-line-height-body-large: 1.5rem;
  --ig-line-height-heading-xxsmall: 1.25rem;
  --ig-line-height-heading-xsmall: 1.5rem;
  --ig-line-height-heading-small: 1.5rem;
  --ig-line-height-heading-medium: 1.75rem;
  --ig-line-height-heading-large: 2rem;
  --ig-line-height-heading-xlarge: 2.5rem;
  --ig-line-height-heading-xxlarge: 3rem;
  --ig-line-height-caption-xsmall: .5rem;
  --ig-line-height-caption-small: .75rem;
  --ig-line-height-caption: 1rem;
  --ig-line-height-caption-large: 1.25rem;
  --ig-component-size-xsmall: 1rem;
  --ig-component-size-small: 1.5rem;
  --ig-component-size-medium: 2rem;
  --ig-component-size-large: 2.5rem;
  --ig-component-size-xlarge: 3rem;
  --ig-component-vertical-fix-xsmall: .0625rem;
  --ig-component-vertical-fix-small: .1875rem;
  --ig-component-vertical-fix-medium: .3125rem;
  --ig-component-vertical-fix-large: .4375rem;
  --ig-component-input-small-gap: .25rem;
  --ig-component-input-small-horizontal-padding: .5rem;
  --ig-component-input-small-vertical-padding: .1875rem;
  --ig-component-input-small-label-horizontal-gap: .75rem;
  --ig-component-input-small-label-vertical-gap: .25rem;
  --ig-component-input-medium-gap: .5rem;
  --ig-component-input-medium-horizontal-padding: .75rem;
  --ig-component-input-medium-vertical-padding: .3125rem;
  --ig-component-input-medium-label-horizontal-gap: .75rem;
  --ig-component-input-medium-label-vertical-gap: .25rem;
  --ig-component-input-large-gap: .75rem;
  --ig-component-input-large-horizontal-padding: 1rem;
  --ig-component-input-large-vertical-padding: .4375rem;
  --ig-component-input-large-label-horizontal-gap: .75rem;
  --ig-component-input-large-label-vertical-gap: .25rem;
  --ig-size-0: 0;
  --ig-size-100: .5rem;
  --ig-size-150: .75rem;
  --ig-size-200: 1rem;
  --ig-size-250: 1.25rem;
  --ig-size-300: 1.5rem;
  --ig-size-400: 2rem;
  --ig-size-500: 2.5rem;
  --ig-size-600: 3rem;
  --ig-size-800: 4rem;
  --ig-size-1000: 5rem;
  --ig-size-1200: 6rem;
  --ig-size-1600: 8rem;
  --ig-size-025: .125rem;
  --ig-size-050: .25rem;
  --ig-size-075: .375rem;
  --ig-size-spacer: .5rem;
  --ig-typography-heading-xxsmall-bold: 700 1rem / 1.25rem Roboto;
  --ig-typography-heading-xxsmall-regular: 400 1rem / 1.25rem Roboto;
  --ig-typography-heading-xsmall-bold: 700 1.125rem / 1.5rem Roboto;
  --ig-typography-heading-xsmall-regular: 400 1.125rem / 1.5rem Roboto;
  --ig-typography-heading-small-bold: 700 1.25rem / 1.5rem Roboto;
  --ig-typography-heading-small-regular: 400 1.25rem / 1.5rem Roboto;
  --ig-typography-heading-medium-bold: 700 1.5rem / 1.75rem Roboto;
  --ig-typography-heading-medium-regular: 400 1.5rem / 1.75rem Roboto;
  --ig-typography-heading-large-bold: 700 1.75rem / 2rem Roboto;
  --ig-typography-heading-large-regular: 400 1.75rem / 2rem Roboto;
  --ig-typography-heading-xlarge-bold: 700 2rem / 2.5rem Roboto;
  --ig-typography-heading-xlarge-regular: 400 2rem / 2.5rem Roboto;
  --ig-typography-heading-xxlarge-bold: 700 2.5rem / 3rem Roboto;
  --ig-typography-heading-xxlarge-regular: 400 2.5rem / 3rem Roboto;
  --ig-typography-body-xsmall-bold: 700 .625rem / .75rem Roboto;
  --ig-typography-body-xsmall-medium: 500 .625rem / .75rem Roboto;
  --ig-typography-body-xsmall-regular: 400 .625rem / .75rem Roboto;
  --ig-typography-body-small-bold: 700 .75rem / 1rem Roboto;
  --ig-typography-body-small-medium: 500 .75rem / 1rem Roboto;
  --ig-typography-body-small-regular: 400 .75rem / 1rem Roboto;
  --ig-typography-body-medium-bold: 700 .875rem / 1.25rem Roboto;
  --ig-typography-body-medium-medium: 500 .875rem / 1.25rem Roboto;
  --ig-typography-body-medium-regular: 400 .875rem / 1.25rem Roboto;
  --ig-typography-body-large-bold: 700 1rem / 1.5rem Roboto;
  --ig-typography-body-large-medium: 500 1rem / 1.5rem Roboto;
  --ig-typography-body-large-regular: 400 1rem / 1.5rem Roboto;
  --ig-typography-caption-xsmall-bold: 700 .5rem / .5rem Roboto;
  --ig-typography-caption-xsmall-medium: 500 .5rem / .5rem Roboto;
  --ig-typography-caption-xsmall-regular: 400 .5rem / .5rem Roboto;
  --ig-typography-caption-small-bold: 700 .625rem / .75rem Roboto;
  --ig-typography-caption-small-medium: 500 .625rem / .75rem Roboto;
  --ig-typography-caption-small-regular: 400 .625rem / .75rem Roboto;
  --ig-typography-caption-medium-bold: 700 .75rem / 1rem Roboto;
  --ig-typography-caption-medium-medium: 500 .75rem / 1rem Roboto;
  --ig-typography-caption-medium-regular: 400 .75rem / 1rem Roboto;
  --ig-typography-caption-large-bold: 700 .875rem / 1.25rem Roboto;
  --ig-typography-caption-large-medium: 500 .875rem / 1.25rem Roboto;
  --ig-typography-caption-large-regular: 400 .875rem / 1.25rem Roboto;
  --ig-text-decoration-link: underline;
  --ig-text-decoration-none: none;
  --ig-text-decoration-invalid: line-through;
  --ig-text-transform-none: none;
  --ig-text-transform-lowercase: lowercase;
  --ig-text-transform-uppercase: uppercase;
  --ig-letter-spacing-heading: -.8;
  --ig-letter-spacing-body: 0;
  --ig-letter-spacing-caption: 0;
  --ig-box-shadow-focus: 0px 0px 0px 2px #520000;
}

[data-theme="dark"] {
  --ig-black: #fff;
  --ig-white: #000;
  --ig-text-bold: #e9f0f5;
  --ig-text-bold-hover: #b7c3cc;
  --ig-text-bold-hover-emphasized: #ff9b7d;
  --ig-text-bold-selected: #f6f9fb;
  --ig-text-bold-pressed: #f6f9fb;
  --ig-text-bold-selected-emphasized: #ff9b7d;
  --ig-text-subtle: #6f7c86;
  --ig-text-subtle-hover: #6f7c86;
  --ig-text-subtle-hover-emphasized: #ffe4d9;
  --ig-text-subtle-selected: #e9f0f5;
  --ig-text-subtle-pressed: #e9f0f5;
  --ig-text-subtle-selected-emphasized: #ff9b7d;
  --ig-text-subtler: #54636d;
  --ig-text-subtler-hover: #6f7c86;
  --ig-text-subtler-selected: #e9f0f5;
  --ig-text-subtler-pressed: #e9f0f5;
  --ig-text-subtler-selected-emphasized: #ff9b7d;
  --ig-text-primary: #ff9b7d;
  --ig-text-primary-hover: #ffe4d9;
  --ig-text-primary-pressed: #e84c1d;
  --ig-text-secondary-bold: #bbdcf6;
  --ig-text-secondary-bold-hover: #1882c0;
  --ig-text-secondary-bold-pressed: #e1f1fe;
  --ig-text-secondary-subtlest: #042941;
  --ig-text-secondary-subtlest-hover: #011828;
  --ig-text-secondary-subtlest-pressed: #01527e;
  --ig-text-on-color: #0e171e;
  --ig-text-on-color-hover: #1d2830;
  --ig-text-on-color-pressed: #030a11;
  --ig-text-on-color-disabled: #030a11;
  --ig-background-neutral: #0e171e;
  --ig-background-neutral-hover: #030a11;
  --ig-background-neutral-pressed: #1d2830;
  --ig-background-neutral-selected: #1d2830;
  --ig-background-neutral-selected-emphasized: #520000;
  --ig-background-neutral-subtlest: #1d2830;
  --ig-background-neutral-subtlest-hover: #0e171e;
  --ig-background-neutral-subtlest-pressed: #303c45;
  --ig-background-neutral-subtlest-selected: #303c45;
  --ig-background-neutral-subtlest-selected-emphasized: #340000;
  --ig-background-neutral-subtler: #303c45;
  --ig-background-neutral-subtler-hover: #1d2830;
  --ig-background-neutral-subtler-pressed: #424f59;
  --ig-background-neutral-subtler-selected: #424f59;
  --ig-background-neutral-subtler-selected-emphasized: #520000;
  --ig-background-neutral-subtle: #424f59;
  --ig-background-neutral-subtle-hover: #303c45;
  --ig-background-neutral-subtle-selected-emphasized: #520000;
  --ig-background-neutral-bolder: #e9f0f5;
  --ig-background-neutral-bolder-hover: #b7c3cc;
  --ig-background-neutral-bolder-pressed: #000;
  --ig-background-alpha-dark-0: lch(97.7% 1.53 240 / 0);
  --ig-background-alpha-dark-10: lch(97.7% 1.53 240 / .1);
  --ig-background-alpha-dark-20: lch(97.7% 1.53 240 / .2);
  --ig-background-alpha-dark-30: lch(97.7% 1.53 240 / .3);
  --ig-background-alpha-dark-40: lch(97.7% 1.53 240 / .4);
  --ig-background-alpha-dark-50: lch(97.7% 1.53 240 / .5);
  --ig-background-alpha-dark-60: lch(97.7% 1.53 240 / .6);
  --ig-background-alpha-dark-70: lch(97.7% 1.53 240 / .7);
  --ig-background-alpha-dark-80: lch(97.7% 1.53 240 / .8);
  --ig-background-alpha-dark-90: lch(97.7% 1.53 240 / .9);
  --ig-background-alpha-light-0: lch(15.3% 7.55 246 / 0);
  --ig-background-alpha-light-10: lch(15.3% 7.55 246 / .1);
  --ig-background-alpha-light-20: lch(15.3% 7.55 246 / .2);
  --ig-background-alpha-light-30: lch(15.3% 7.55 246 / .3);
  --ig-background-alpha-light-40: lch(15.3% 7.55 246 / .4);
  --ig-background-alpha-light-50: lch(15.3% 7.55 246 / .5);
  --ig-background-alpha-light-60: lch(15.3% 7.55 246 / .6);
  --ig-background-alpha-light-70: lch(15.3% 7.55 246 / .7);
  --ig-background-alpha-light-80: lch(15.3% 7.55 246 / .8);
  --ig-background-alpha-light-90: lch(15.3% 7.55 246 / .9);
  --ig-background-primary-bold: #ff9b7d;
  --ig-background-primary-bold-hover: #ffe4d9;
  --ig-background-primary-bold-pressed: #e84c1d;
  --ig-background-primary-subtle: #520000;
  --ig-background-primary-subtler: #340000;
  --ig-background-primary-subtler-hover: #520000;
  --ig-background-primary-subtler-pressed: #340000;
  --ig-background-secondary-subtle: #01527e;
  --ig-background-secondary-subtle-hover: #042941;
  --ig-background-secondary-subtle-pressed: #1272ab;
  --ig-background-secondary-subtler: #042941;
  --ig-background-secondary-subtler-hover: #01527e;
  --ig-background-secondary-subtler-pressed: #011828;
  --ig-background-secondary-bolder: #bbdcf6;
  --ig-background-secondary-bolder-hover: #1882c0;
  --ig-background-secondary-bolder-pressed: #e1f1fe;
  --ig-background-tertiary-bold: #ff97ce;
  --ig-background-tertiary-bold-hover: #ffe0f5;
  --ig-background-tertiary-bold-pressed: #cb2f90;
  --ig-background-tertiary-subtle: #4b0030;
  --ig-background-tertiary-subtler: #30001d;
  --ig-background-tertiary-subtler-hover: #4b0030;
  --ig-background-tertiary-subtler-pressed: #30001d;
  --ig-background-info-bold: #8fbeff;
  --ig-background-info-bold-hover: #ddf0ff;
  --ig-background-info-bold-pressed: #2071f3;
  --ig-background-info-subtle: #00205f;
  --ig-background-info-subtler: #00113e;
  --ig-background-info-subtler-hover: #00205f;
  --ig-background-info-subtler-pressed: #00113e;
  --ig-background-warning-subtle: #392100;
  --ig-background-warning-subtler: #241100;
  --ig-background-warning-subtler-hover: #392100;
  --ig-background-warning-subtler-pressed: #241100;
  --ig-background-error-bold: #ff9798;
  --ig-background-error-bold-hover: #ffe3e1;
  --ig-background-error-bold-pressed: #db2943;
  --ig-background-error-subtle: #52000b;
  --ig-background-error-subtler: #340004;
  --ig-background-error-subtler-hover: #52000b;
  --ig-background-error-subtler-pressed: #340004;
  --ig-background-success-bold: #8bd47b;
  --ig-background-success-bold-hover: #daf9d3;
  --ig-background-success-bold-pressed: #0f9500;
  --ig-background-success-subtle: #003200;
  --ig-background-success-subtler: #001e00;
  --ig-background-success-subtler-hover: #003200;
  --ig-background-success-subtler-pressed: #001e00;
  --ig-background-indicator: #ff9b7d;
  --ig-background-indicator-hover: #ffe4d9;
  --ig-border-white: #0e171e;
  --ig-border-subtle: #1d2830;
  --ig-border: #303c45;
  --ig-border-bold: #424f59;
  --ig-border-focus: #e84c1d;
  --ig-border-selected: #c42600;
  --ig-border-primary-bold: #ff9b7d;
  --ig-border-primary-bold-hover: #ffe4d9;
  --ig-border-primary-bold-pressed: #e84c1d;
  --ig-border-primary-subtle: #520000;
  --ig-border-secondary-bold-hover: lch(53.6% 40.6 254);
  --ig-border-secondary-bold-pressed: #1272ab;
  --ig-border-secondary-subtle: #042941;
  --ig-border-info-bold: #8fbeff;
  --ig-border-info-subtle: #00205f;
  --ig-border-warning-subtle: #392100;
  --ig-border-error-bold: #ff9798;
  --ig-border-error-subtle: #52000b;
  --ig-border-success-bold: #8bd47b;
  --ig-border-success-subtle: #003200;
  --ig-border-accent-1-subtle: #431900;
  --ig-border-accent-2-subtle: #2f2600;
  --ig-border-accent-3-subtle: #222b00;
  --ig-border-accent-4-subtle: #003217;
  --ig-border-accent-5-subtle: #003128;
  --ig-border-accent-7-subtle: #002d3e;
  --ig-border-accent-8-subtle: #00294d;
  --ig-border-accent-9-subtle: #1f175e;
  --ig-border-accent-10-subtle: #310e57;
  --ig-border-accent-11-subtle: #3e0649;
  --ig-border-accent-12-subtle: #4f0024;
  --ig-icon-bold: #f6f9fb;
  --ig-icon-subtle: #6f7c86;
  --ig-icon-primary: #ff9b7d;
  --ig-icon-close: #b7c3cc;
  --ig-logo-text: #fff;
  --ig-logo-inverse-text: #303642;
  --ig-logo-inverse-icon-item1: #303642;
  --ig-logo-inverse-icon-item2: #303642;
  --ig-logo-inverse-icon-item3: #303642;
  --ig-box-shadow-focus: 0px 0px 0px 2px #e84c1d;
}

@layer base {
  * {
    border-color: var(--ig-border);
  }

  body {
    background-color: var(--ig-background-neutral);
    color: var(--ig-text-bold);
    font-family: var(--ig-font-family-body);
  }
}
