
.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  border: var(--ig-border-width) solid;
  padding: var(--ig-size-025) var(--ig-size-150);
  font: var(--ig-typography-caption-medium-bold);
  transition: all 0.2s ease;
  outline: none;
}

.badge:focus {
  box-shadow: var(--ig-box-shadow-focus);
}

.badge-default {
  border-color: transparent;
  background-color: var(--ig-background-primary-bold);
  color: var(--ig-text-on-color);
}

.badge-default:hover {
  background-color: var(--ig-background-primary-bold-hover);
}

.badge-secondary {
  border-color: transparent;
  background-color: var(--ig-background-secondary-bold);
  color: var(--ig-text-on-color);
}

.badge-secondary:hover {
  background-color: var(--ig-background-secondary-bold-hover);
}

.badge-destructive {
  border-color: transparent;
  background-color: var(--ig-background-error-bold);
  color: var(--ig-text-on-color);
}

.badge-destructive:hover {
  background-color: var(--ig-background-error-bold-hover);
}

.badge-outline {
  color: var(--ig-text-bold);
  border-color: var(--ig-border);
  background-color: transparent;
}

.badge-outline:hover {
  background-color: var(--ig-background-neutral-hover);
}
