
.card {
  border-radius: var(--ig-border-radius-large);
  border: var(--ig-border-width) solid var(--ig-border);
  background-color: var(--ig-background-neutral);
  color: var(--ig-text-bold);
  box-shadow: var(--ig-elevation-level-1);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--ig-size-100);
  padding: var(--ig-size-300);
}

.card-title {
  font: var(--ig-typography-heading-small-bold);
  margin: 0;
}

.card-description {
  font: var(--ig-typography-body-medium-regular);
  color: var(--ig-text-subtle);
  margin: 0;
}

.card-content {
  padding: var(--ig-size-300);
  padding-top: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: var(--ig-size-300);
  padding-top: 0;
}
