
.scroll-area {
  position: relative;
  overflow: hidden;
}

.scroll-area-viewport {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.scroll-bar {
  display: flex;
  touch-action: none;
  user-select: none;
  transition: colors 0.2s ease;
}

.scroll-bar-vertical {
  height: 100%;
  width: 0.625rem;
  border-left: 1px solid transparent;
  border-left-color: transparent;
  padding: 1px;
}

.scroll-bar-horizontal {
  height: 0.625rem;
  flex-direction: column;
  border-top: 1px solid transparent;
  border-top-color: transparent;
  padding: 1px;
}

.scroll-bar-thumb {
  position: relative;
  flex: 1 1 0%;
  border-radius: 9999px;
  background-color: var(--ig-border-bold);
  transition: background-color 0.2s ease;
}

.scroll-bar-thumb:hover {
  background-color: var(--ig-text-subtle);
}
